@{
    ViewData["Title"] = "Create";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<div class="nav">
    
        <p>@Html.ActionLink("Player Manager", "Index", "Player")</p>
        <p>@Html.ActionLink("Zombie Manager", "Index", "Zombie")</p>
        <p>@Html.ActionLink("Location Manager", "Index", "Location")</p>
        <p>@Html.ActionLink("Item Manager", "Index", "Items")</p>
   
</div>